body {
    text-align: center; 
    background-color: gray;
}

form {
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

  #button {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 20%;
    background: #519CBC;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 0;
    font-size: .8em;
    border: 0;
    border-radius: 0;
    transition-property: all;
    transition-duration: .15s;
    font-weight: bold;
    z-index: 98;
}

#myBn {
  display: flex; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 100px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.card-body {
  background-color: #0f1418;
  color: grey;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  
}

#parkCards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexbody {
  background-image: url('https://images8.alphacoders.com/118/1189974.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.mountainbody {
  background-image: url('https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  color: black;
  font-weight: bolder;
}

h2 {
 color: black;
  font-weight: bolder;
}

h3 {
  color: black;
   font-weight: bolder;
 }
 


h1 {
  color: black;
  font-weight: bolder;
}


.parkbody {
  background-image: url('https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.nfacts {
  text-align: center;
}